.about-txt span {
 font-weight: bold;
}


.about-inner-wrap {
    display: flex;
    gap: 10px;
}

.title-section {
    margin-top: 30px;
    margin-bottom: 30px;;
}

.about-txt p{
    line-height: 30px;
    letter-spacing: 1px;
    text-align: justify;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}
.about-txt{flex: 1;padding-top: 5%;}

.about-img {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img img {}

.downloadcv a {
    background: #FFC120;
    color: #ffffff;
    display: block;
    text-align: center;
    font-size: 28px;
    text-decoration: none;
    padding: 10px 0px;
    opacity: 0.6;
    margin: auto;
    width: 401px;
    border-radius: 10px;
    margin-top: 40px;
}


.downloadcv a:hover {
    opacity: 1;  
}



@media (min-width:300px) and (max-width:900px) { 

    .about-img {
        display: none;
    }

    .about-inner-wrap {
        flex-direction: column;
    }

    .downloadcv a {
        width: 80%;
    }
}
